/* $color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000; */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
  }
  90% {
    -webkit-transform: translate(1rem);
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 4rem);
    transform: translate(0, 4rem);
  }
  90% {
    -webkit-transform: translate(-1rem);
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 10rem);
    transform: translate(0, 10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 5.5rem;
}

.heading-primary--main {
  display: block;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 15px;
  font-weight: 700;
  -webkit-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.header {
  position: relative;
  height: 95vh;

  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3rem;
  padding: 1.5rem 4rem;
  -webkit-transition: all 0.2;
  transition: all 0.2;
  position: relative;
  font-size: 1.6rem;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--white::after {
  background-color: #fff;
}

.btn--animation {
  -webkit-animation: moveUp 0.5s ease-out 0.75s;
  animation: moveUp 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
.u-text-center {
  text-align: center;
}
.u-text-margin {
  margin-bottom: 8rem;
}
.heading-secondary {
  display: block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #25dd62);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(10deg) skewY(8deg);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.26);
}
.row {
  width: 90%;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
}
.col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.heading-tertiary {
  /* display: inline-block; */
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.paragraph {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.btn-text:link,
.btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #7ed56f;
  border-bottom: 0.1rem solid #7ed56f;
  padding: 0.5rem 0.5rem;
  transition: all 0.2s;
  border-radius: 0.2rem;
}
.btn-text:hover {
  color: #fff;
  background-color: #7ed56f;
  box-shadow: 0 1rem 1rem #00000033;
  transform: translateY(-0.3rem);
}
.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem #00000033;
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.253);
  transition: all 0.3s;
  outline-offset: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
  /* z-index: 1; */
}

.composition__photo:hover {
  z-index: 4;
  transform: scale(1.2);
  /* outline: 1rem solid #7ed56f; */
  filter: drop-shadow(0 0 5rem #7ed56f3d);
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
  opacity: 0.6;
}
.composition__photo--p2 {
  top: 2rem;
  left: 50%;
  /* z-index: 2; */
}
.composition__photo--p3 {
  top: 7rem;
  left: 3rem;
  /* z-index: 3; */
}

.col-1-of-4 {
  width: calc((100% - 18rem) / 4);
  float: left;
}
.col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485cc),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8rem;
}

.feature-box {
  background-color: #dfefe2;
  font-size: 1.6rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 1rem #00000036;
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.section-features .row {
  transform: skewY(7deg);
}
.feature-box:hover {
  transform: translateY(-0.8rem) scale(1.1);
}
.feature-box__icon {
  margin-bottom: 2rem;
  font-size: 8rem;
  background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485cc);
  -webkit-background-clip: text;
  color: transparent;
}

.section-tours {
  margin-top: -8rem;
  background-color: #f7f7f7;
  padding: 20rem 0;
}

.u-text-margin-bottom--big {
  margin-bottom: 8rem;
}
.col-1-of-3 {
  width: calc((100% - 12rem) / 3);
  float: left;
}
.col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s ease-out;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #e61e1e;
}
.card__side--back {
  transform: rotateY(180deg);
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}
