:root {
  --color-primary: #eb2f64;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media screen and (max-width: 1150px) {
    font-size: 58.5%;
  }
  @media screen and (max-width: 1100px) {
    font-size: 55%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }
  @media screen and (max-width: 600px) {
    font-size: 45%;
  }
}
body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}

///////////////////////////////////
////////// HOTEL VIEW ////////////
///////////////////////////////////

@keyframes pulstate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes pulstate1 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scaleY(0);
  }
}
