:root {
  --color-primary: #eb2f64;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}

@-webkit-keyframes pulstate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes pulstate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes pulstate1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes pulstate1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.container {
  max-width: 120rem;
  min-height: 60rem;
  margin: 6rem auto;
  background-color: var(--color-grey-light-2);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  height: 3.5rem;
  margin-left: 2rem;
}

.header .search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  width: 90%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: -3.5rem;
}

.header .search__input:focus {
  width: 100%;
  outline: none;
  background-color: var(--color-grey-light-3);
}

.header .search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.header .search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark-3);
}

.header .search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.header .search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-primary);
}

.header .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.header .user-nav > * {
  padding: 0 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
}

.header .user-nav > *:hover {
  background-color: var(--color-grey-light-3);
}

.header .user-nav__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-1);
}

.header .user-nav__notification {
  position: absolute;
  top: 20%;
  right: 5%;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .user-nav__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 750px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  font-size: 1.4rem;
}

.hotel-view {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-nav {
  list-style: none;
  color: var(--color-grey-light-2);
  font-size: 1.6rem;
  margin-top: 4rem;
}

@media screen and (max-width: 750px) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: width 0.4s cubic-bezier(0, 0.5, 1, 0.5) 0.4s, -webkit-transform 0.4s;
  transition: width 0.4s cubic-bezier(0, 0.5, 1, 0.5) 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, width 0.4s cubic-bezier(0, 0.5, 1, 0.5) 0.4s;
  transition: transform 0.4s, width 0.4s cubic-bezier(0, 0.5, 1, 0.5) 0.4s, -webkit-transform 0.4s;
  z-index: -1;
}

.side-nav__item {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .side-nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.side-nav__item:first-of-type {
  background-color: var(--color-primary);
}

.side-nav__item:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 750px) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.side-nav__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__link:link, .side-nav__link:visited {
  text-decoration: none;
  color: var(--color-grey-light-1);
  display: block;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

@media screen and (max-width: 750px) {
  .side-nav__link:link, .side-nav__link:visited {
    padding: 2rem;
  }
}

.side-nav__icon {
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 1rem;
  font-size: 2rem;
  fill: currentColor;
  margin-left: 1rem;
}

.side-nav__text {
  margin-left: 2rem;
}

.legal {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem;
  color: var(--color-grey-dark-2);
}

@media screen and (max-width: 750px) {
  .legal {
    display: none;
  }
}

.hotel-view {
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__heading {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 450px) {
  .overview__heading {
    font-size: 1.4rem;
  }
}

.overview__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__icon-star, .overview__icon-location {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--color-primary);
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60%;
  padding: 2rem;
  margin-left: 2rem;
}

@media screen and (max-width: 550px) {
  .overview__location {
    margin-left: 5rem;
  }
}

.overview__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-grey-light-2);
  padding: 2rem;
}

.overview__rating-average {
  font-size: 1.6rem;
}

.overview__rating-count {
  font-size: 70%;
}

.overview__gps {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 2rem;
  position: relative;
  margin-left: 1rem;
  display: block;
  font-weight: 400;
  background-color: transparent;
  border-top: 1px solid var(--color-primary);
  border: none;
  padding: 1rem;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media screen and (max-width: 450px) {
  .overview__gps {
    font-size: 1.4rem;
  }
}

.overview__gps::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  right: 0%;
  width: 100%;
  background-color: var(--color-primary);
  height: 0.2rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overview__gps::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0%;
  width: 100%;
  background-color: var(--color-primary);
  height: 0.2rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overview__gps:hover::after, .overview__gps:active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 0.2rem;
}

.overview__gps:hover::before, .overview__gps:active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 0.2rem;
}

.overview__gps:focus {
  outline: none;
  -webkit-animation: pulstate 1s infinite;
          animation: pulstate 1s infinite;
  background-color: transparent;
  color: var(--color-primary);
}

.overview__gps:focus::after {
  -webkit-animation: pulstate1 1s infinite;
          animation: pulstate1 1s infinite;
}

.overview__gps:focus::before {
  -webkit-animation: pulstate1 1s infinite;
          animation: pulstate1 1s infinite;
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

@media screen and (max-width: 750px) {
  .detail {
    padding: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.detail .description {
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 550px) {
  .detail .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.detail .user-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7rem;
}

.list__item::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  display: inline-block;
  background-color: var(--color-primary);
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  margin-right: 0.7rem;
}

.recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  margin-right: auto;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 3px solid #fff;
}

.recommend__photo:not(:last-child) {
  margin-right: -2rem;
}

.review {
  position: relative;
  padding: 3rem;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  margin-bottom: 3.5rem;
  background-color: #fff;
  overflow: hidden;
}

.review__text {
  margin-bottom: 2rem;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.review__user-box {
  margin-right: auto;
}

.review__username {
  font-weight: 700;
  text-transform: uppercase;
}

.review__date {
  font-size: 1.2rem;
}

.review__rating {
  font-size: 2.5rem;
  color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.review::before {
  content: "\201C";
  position: absolute;
  top: -3rem;
  left: 0rem;
  color: var(--color-primary);
  font-size: 10rem;
  font-family: sans-serif;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}

.cta__book-now {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.cta .btn {
  overflow: hidden;
  position: relative;
  border-radius: 4rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: var(--color-grey-light-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  cursor: pointer;
}

.cta .btn > * {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cta .btn:focus {
  outline: none;
}

.cta .btn__visible {
  padding: 2rem 6rem;
}

.cta .btn__invisible {
  padding: 2rem 2rem;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
}

.cta .btn:hover .btn__invisible {
  top: 0;
}

.cta .btn:hover .btn__visible {
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
}

.cta .btn:focus {
  -webkit-animation: pulstate 1s infinite;
          animation: pulstate 1s infinite;
}
/*# sourceMappingURL=main.css.map */